---
  - name: "Setup Environment"
    hosts: localhost
    connection: local
    vars_files:
      - common_vars.yml
    tasks:
    - name: "Install the lastet version of vim, git, rxvt, tmux, powerline, and etc"
      package:
        name:
          - firefox
          - gnome-tweaks
          - snap-store
          - snapd-desktop-integration
          - gnome-tweaks
          - git
          - vim
          - rxvt-unicode
          - python3-pip
          - powerline
          - fonts-powerline
          - tmux
          - xsel
          - htop
          - curl
          - lastpass-cli
          - markdown
          - genisoimage
        state: latest
      become: true

    - name: "Install powerline-status"
      pip:
        name: powerline-status

    - name: "Create symbolic links"
      file:
        src: '{{ my_home }}/dot/{{ item.src }}'
        dest: '{{ my_home }}/{{ item.dest }}'
        owner: '{{ my_user }}'
        group: '{{ my_group }}'
        state: link
        force: true
      loop:
        - { src: "linux/Xresources", dest: ".Xdefault"     }
        - { src: "linux/Xinitrc",    dest: ".Xinitrc"      }
        - { src: "linux/Xmodmap",    dest: ".Xmodmap"      }
        - { src: "linux/Xresources", dest: ".Xresources"   }
        - { src: "tmux/tmux.conf",   dest: ".tmux.conf"    }
        - { src: "bash/locale",      dest: ".locale"       }
        - { src: "bash/inputrc",     dest: ".inputrc"      }
        - { src: "bash/login",       dest: ".bash_login"   }
        - { src: "bash/logout",      dest: ".bash_logout"  }
        - { src: "bash/profile",     dest: ".bash_profile" }
        - { src: "bash/rc",          dest: ".bashrc"       }
        - { src: "bash/dircolors",   dest: ".dircolors"    }
        - { src: "git/gitignore",    dest: ".gitignore"    }
        - { src: "git/gitconfig",    dest: ".gitconfig"    }
        - { src: "emacs",            dest: ".emacs.d"      }
        - { src: "vim",              dest: ".vim"          }
        - { src: "bin",              dest: "bin"           }
        - { src: "ssh/config",       dest: ".ssh/config"   }
        - { src: "rxvt-unicode/powerline-tmux.desktop", dest: ".local/share/applications/rxvt-unicode-powerline-tmux.desktop" }

    - include_tasks: common_tasks.yml

    - name: Set keyboard layout
      command: gsettings set org.gnome.desktop.input-sources sources "[('xkb', 'us+intl')]"

      #https://solaaremupelumi.medium.com/persistent-keyboard-mapping-on-ubuntu-using-xmodmap-cd01ad828fcd
    - name: "It convert the current xmodmap file to an xkbfile"
      command: xkbcomp ":0" '{{ my_home }}/.xkbmap'

    - name: "It adds new startup application for xkbmap which actives this mapping uppon every reboot"
      command: xkbcomp '{{ my_home }}/.xkbmap' ":0"

